# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venc/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars

# Streamlit
session_state.json

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db